{% extends 'base.html' %}
<html lang="en">
{% load static %}


{% block content %}
    <body>

    <!-- top-header -->


    <nav class="nav-menu nav-menu-pc  d-none d-md-flex px-4" id="navbar">
        <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item ">زبان های برنامه نویسی </a>
            <ul class="sub-menu">
                <a href="">جاوا</a>
                <a href="">پایتون </a>
                <a href="">آیتم</a>
                <a href=""> آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
            </ul>
        </li>
        <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">فریمورک </a>
            <ul class="sub-menu">
                <a href="">جنگو</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
            </ul>
        </li>
        <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">طراحی وب</a>
            <ul class="sub-menu">
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
            </ul>
        </li>
        <li id="" class="mx-3 menu-item"><a href="" class="nav-menu-item">مهارت های ارتباطی</a>
            <ul class="sub-menu">
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
                <a href="">آیتم</a>
            </ul>
        </li>
    </nav>

    <main>
        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-7 col-lg-5">
                        <div class="custom-bg p-2">

                            <div class="container my-3 p-3">
                                <div class="row justify-content-center">
                                    <div class="col-lg-5">
                                        <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                                            <div class="alert alert-info">
                                                رمز عبور شما تغییر کرد. میتوانید از طریق لینک زیر وارد شوید. <a
                                                    href="{% url 'login' %}">ورود</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>


    {% include 'includes/login_footer.html' %}
    </body>
{% endblock %}
</html>