{% extends 'base.html' %}
{% load static %}
<html lang="en">

{% include 'includes/header.html' %}

{% block content %}
    <body>

    <main>

        <section class="py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-9 col-md-8 col-lg-8">

                        <div class="user-panel-profile">
                                <img src="{{ request.user.image.url}}" alt="">
                            </div>
                        <!-- item1 -->

                        <div class="p-3 custom-bg user-details user-item my-2">
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <p class="">نام و نام خانوادگی:</p>
                                    <h6 class=" font-weight-bold">{{ request.user.fullname}}</h6>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <p class="">پست الکترونیک:</p>
                                    <h6 class=" font-weight-bold">{{ request.user.email}}</h6>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <p class="">شماره تلفن همراه:</p>
                                    <h6 class=" font-weight-bold">{{ request.user.phone_number }}</h6>
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <p class="">نام کاربری:</p>
                                    <h6 class=" font-weight-bold">{{ request.user.username}}</h6>
                                </div>
                                <div class="col-12">
                                    <div class="text-center">
                                        <a class="" href="{% url 'update_userpanel' user.id %}">
                                            <i class="fa fa-edit"></i>
                                            ویرایش اطلاعات شخصی
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>


    </body>
{% endblock %}

</html>